.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    /*primeiro conteúdo tem fixo o outro e flexível */

    gap: 2rem;

    align-items: flex-start;
    /*sempre alinhar no topo*/
}

@media (max-width:48rem) {

    html {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}

/*
70rem = 70 * 16 = 1.120px
2rem = 32px
*/